@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

/*
    Paleta de cores
    cor01: #3A3845
    cor02: #F7CCAC
    cor03: #C69B7B
*/

:root {
    --cor01: #3A3845;
    --cor02: #f7CCAB75;
    --cor03: #C69B7B;
    --cor04: #8FC1D4;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: var(--cor04) url(../imagens/wallpaper.jpg) no-repeat;
    background-position: center top;
    background-size: 128%;
    text-align: center;
}

header h1 {
    font-family: 'Fleur De Leah', cursive;
    font-size: 3.5em;
    color: white;
    margin-bottom: 80px;
    padding: 10px;
}

header span.icone-cafe {
    margin-left: 7px;
}

header p.horas {
    margin-left: 10px;
    height: 25px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

header p.horas span {
    font-size: 20px;
}

header span.lista {
    background-color: var(--cor02);
    color: white;
    display: block;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

header span.lista:hover {
    background-color: var(--cor03);
    transition: background-color .4s;
}

header menu {
    display: none;
}

header menu ul {
    list-style-type: none;
}

header menu ul li a {
    display: block;
    background-color: var(--cor02);
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 8px;
}

header menu ul li a:hover {
    background-color: var(--cor03);
    transition: background-color .4s;
}

main {
    flex: 1 0 auto;
}

main section.diversos {
    background-color: var(--cor01);
    color: white;
    text-align: center;
    padding: 10px;
}

main section.diversos section.grupo article {
    display: block;
    width: 180px;
    height: 280px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid var(--cor04);
    word-spacing: 1px;
}

main section.diversos section.grupo article span {
    background-color: var(--cor03);
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 50%;
    cursor: pointer;

    transition-duration: .3s;
}

main section.diversos section.grupo article span:hover {
    transform: scale(1.25, 1.25);
}

main section.diversos section.grupo article p {
    font-size: 14px;
}

main section.sobre {
    padding: 10px;
}

main section.sobre section.grupo img {
    display: block;
    width: 355px;
    margin: 20px auto;
}

main section.sobre section.grupo article h2 {
    text-align: center;
}

main section.sobre section.grupo article {
    display: block;
    width: 355px;
    margin: 20px auto 50px auto;
    font-size: 14px;
    text-align: justify;
}

footer {
    flex-shrink: 0;
    background-color: var(--cor01);
    color: white;
    padding: 20px;
}

footer section.grupo section.links {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin: 0px auto 50px auto;
}

footer section.grupo section.links a {
    color: white;
    padding: 3px;
}

footer section.grupo p {
    text-align: center;
}





/*==========ESTILO DE PEDIDOS==========*/
section.diversos select#opções {
    background-color: var(--cor01);
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid white;
    border-radius: 12px;
    padding: 4px;
    outline: 0;
}

section.diversos input#botãoIncluir {
    background-color: var(--cor04);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 12px;
    padding: 7px 15px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.418);
    transition-duration: .2s;
}

section.diversos input#botãoIncluir:hover {
    background-color: #8fc0d4c7;
}

section#pedidos {
    max-width: 280px;
    margin: auto;
}

span.item {
    display: inline-block;
    width: 140px;
    margin-right: 40px;

    text-align: left;
    text-indent: 1px;
    padding-top: 10px;
}

span#item02 {
    margin-right: 59px;
    width: 130px;
    text-indent: 9px;
}

span#item03 {
    margin-right: 68px;
    width: 130px;
    text-indent: 19px;
}

section#precoFinal {
    max-width: 280px;
    margin: auto;
}

section.diversos input#total {
    background-color: var(--cor04);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 12px;
    padding: 7px 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.418);
    transition-duration: .2s;

    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
}

section.diversos input#total:hover {
    background-color: #8fc0d4c7;
}
/*======================================*/





/*===========ESTILO DE CONTATO===========*/
/*
.corpo {
    background-color: var(--cor04);
}
*/

main#contato {
    margin-bottom: 50px;
}

main#contato h1 {
    text-align: center;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 50px;
}

section#dados {
    max-width: 1100px;
    margin: auto;
}

section#dados section#endereco-tel {
    /*background-color: var(--cor02);*/
    display: block;
    max-width: 180px;
    margin: 0px auto 50px auto;
    padding: 10px 0px;

    text-align: center;
}
section#dados section#endereco-tel p#icone-cafe {
    display: block;
    font-size: 5em;
    color: var(--cor03);
    margin-bottom: 5px;
}

section#dados section#formulario {
    /*background-color: skyblue;*/
    display: block;
    max-width: 339px;
    margin: 25px auto;
}

section#dados section#formulario input#inome {
    background-color: transparent;
    display: block;
    width: 339px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    /*border-radius: 15px;*/
    font-size: 14px;
    outline: 0px;
}

section#dados section#formulario input#iemail {
    background-color: transparent;
    display: block;
    width: 339px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    /*border-radius: 15px;*/
    font-size: 14px;
    outline: 0px;
}

textarea {
    background-color: transparent;
    display: block;
    width: 339px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    outline: 0px;
}

input[type=submit] {
    display: block;
    background-color: var(--cor04);
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px 14px;
    cursor: pointer;
    transition-duration: .2s;
}

input[type=submit]:hover {
    background-color: #8fc0d4c7;
}
/*======================================*/